{{ partial "header" . }}

    <div class="content container {{ .Title }} {{ .Section | urlize }}">
        <h1>{{ .Section }}</h1>
        {{ if eq .Section "profile"}}
          {{ range .Pages }}
           <div>
  
            <div class="row profile-flexbox">
              <div class="col-sm-6 col-md-4 market">
                 <h2> {{ .Title }}</h2> <br>
                   {{ .Params.province }} <br>
                   {{ .Params.description }}<br>
                 <a class="mark" href="https://flamboyant-hawking-cb291b.netlify.com/admin">Edit Profile</a>
               
              </div>

              <div>
<a href="https://www.google.com.pg" target="_blank"><img class="leader-image"  src="{{ .Params.image }}" 
alt="IMAGE" width="180" height="180" border="10" /></a>
</div>

<img src="" alt="">
            </div>
         <hr>

          {{ end }}
 <!--program section-->
 
          {{ else if eq .Section "programed" }}

          {{ range .Pages }}
          
          <div class="row">
              <div class="col-sm-6 col-md-4 blog">
                <a href="https://flamboyant-hawking-cb291b.netlify.com/profile/"> 
                  {{ .Params.remarks }} 
                  <hr>   <br>
                  
              {{ .Params.year }}  {{ .Params.month }}  {{ .Params.venue }}
              <br>
               {{ .Params.activity }}  {{ .Params.sactivity }}
               <br>
                {{ .Params.categories }}
                <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
              </div>
          </div>
          {{ end }}
          
        
          {{ else if eq .Section "maps" }}

          {{ range .Pages }}
          
          <div class="row">
              <div class="col-sm-6 col-md-4 blog">
                  {{ .Params.title }} <br>
                  <img src="{{ .Params.image }}" alt="">
                  {{ .Params.image }} <br>
                  {{ .URL }}
                   
              </div>
          </div>
          {{ end }}

          
<!--end program section-->



<!--start-->

{{ else if eq .Section "program" }}
    <!-- categories are defined in the site/content -->
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <section>
        {{ if eq "categories" $taxonomyname }}
          {{ range $key, $value := $taxonomy }}
            {{ if ne $key "drinks"}}
              <h2><em>{{ $key }}</em></h2>
              <hr>
              {{ range $value.Pages.GroupByParam "type" }}
                <h3>{{ .Key }}</h3>
                <ul>
                {{ range .Pages }}
                  <li>
                    <p><strong>{{ .Title }}:</strong> {{ .Params.day }}</p>
                    <p>{{ .Params.month }}</p>
                    <p>{{ .Params.year }}</p>
                    <p>{{ .Params.remarks }}</p>
                  </li>
                {{ end }}
                </ul>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </section>
    {{ end }}
<!--end-->

        {{ else if eq .Section "gallery" }}
      
    <div class="gallery-carousel">
       {{ range where .Pages "Section" "gallery" }}
        <a href="#"><div><img src="{{ .Params.image }}"/></div></a>
      {{ end }}
    </div>

    <div class="buttons">
      <button class="prev half-button">Prev</button>
      <button class="next half-button">Next</button>
    </div>
          
   
        {{ end }}  

</div>



{{ partial "footer" . }}















<!--<div class="content container {{ .Title }} {{ .Section | urlize }}">
  <h1>{{ .Section }}</h1>
  {{ if eq .Section "food" }}
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <section>
        {{ if eq "categories" $taxonomyname }}
          {{ range $key, $value := $taxonomy }}
            {{ if ne $key "drinks"}}
              <h2><em>{{ $key }}</em></h2>
              <hr>
              {{ range $value.Pages.GroupByParam "type" }}
                <h3>{{ .Key }}</h3>
                <ul>
                {{ range .Pages }}
                  <li>
                    <p><strong>{{ .Title }}:</strong> {{ .Params.description }}</p>
                    <p>{{ .Params.price }}</p>
                  </li>
                {{ end }}
                </ul>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </section>
    {{ end }}
  {{ else if eq .Section "drinks" }}
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <section>
        {{ if eq "categories" $taxonomyname }}
          {{ range $key, $value := $taxonomy }}
            {{ if eq $key "drinks"}}
              {{ range $value.Pages.GroupByParam "type" }}
                <h2><em>{{ .Key }}</em></h3>
                <hr>
                <ul>
                {{ range .Pages }}
                  <li>
                    <p><strong>{{ .Title }}:</strong> {{ .Params.description }}</p>
                    <p>{{ .Params.price }}</p>
                  </li>
                {{ end }}
                </ul>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </section>
    {{ end }}
  {{ else if eq .Section "gallery" }}
    <div class="gallery-carousel">
      {{ range where .Pages "Section" "gallery" }}
        <div><img src="{{ .Params.image }}"/></div>
      {{ end }}
    </div>
    <div class="buttons">
      <button class="prev half-button">Prev</button>
      <button class="next half-button">Next</button>
    </div>
  {{ end }}
</div>
-->
