@import "imports/base.css";
@import "imports/menu.css";

.sidebar-img{
    border-image-width:32px;
    height: 32px;
    border-radius:5px;
}

.sidebar-img:hover{
    border-image-width:32px;
    height: 32px;
    border-radius:20000px;
}

.image-container{
 display: flex;
 flex-wrap: wrap;
}

.leader-image{
    border-radius:2000000px;
    margin:10px;
}

.leader-image:hover{
    border-radius:5px;
    margin:10px;
}
