<div>
{{ partial "header" . }}

<div>
<div class="content container">
<!--  <video loop muted autoplay playsinline id="home_video" class="video">
    <source src="/videos/SDVid.mp4" type="video/mp4">
    <source src="/videos/SDVid.ogg" type="video/ogg">
  </video>-->
  <h1>Church Calendar</h1>
  
 <iframe src="https://calendar.google.com/calendar/embed?src=6bit6gk13neg5hgfj1f519gtb4%40group.calendar.google.com&ctz=Pacific%2FPort_Moresby" style="border: 5" width="600" height="600" frameborder="0" scrolling="no"></iframe>
</div>
</div>



{{ partial "footer" . }}
</div>